.kop-w{
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif; 
  margin: 0px;
}

.kop-z{
  color: #313131;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kopje-w{
  color: #ffffff;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kopje-z{
  color: #313131;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.broodtekst-w{
  color: #ffffff;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.broodtekst-z{
  color: #313131;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

a {
  color: #313131;
}

a:hover {
  color: #989f9f;
  text-decoration: none;
}

p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  margin: 0px;
  color: #313131;
}


/*                      Navigatie                        */
.navbar-light .navbar-nav .nav-link {
  color: #989f9f;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: #313131;
}

.bg-light{
  background-color: #ffffff!important;
}



/*                        Header                          */
#header{
  margin-bottom: 200px;
}

.container-fluid{
  padding: 0px;
}

.img-fluid{
  z-index: -10;
  position: absolute;
  height: 100vh;
  width: fit-content;
  object-fit: cover;
  opacity: 100%;
}

.typing{
  padding-top: 15%;
}

.title{ /*komt voor voor elke grote titel op de pagina*/
  color: #313131;
  font-size: 100px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  margin: -30px 0px;
}


/*                        About                             */
#about{
  margin-top: 570px;
}


/*                        Services                           */
#services{
  margin: 200px 0px;
}

.card{
  margin-bottom: 40px;
  border: none;
  border-radius: .55rem;
}

.card-img{
  border-radius: 1rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/*                        recent work                       */
#recent_work{
  margin: 200px 0px;
}

.port{
  margin: 200px 0;
}

.workimg{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.uberimg{
  max-width: 300px;
  width: auto;
  height: 70vh;
  margin-bottom: 50px;
}


/*                        contact                           */
#contact{
  margin: 200px 0px;
}

.contact-info{
  margin: 100px 0;
}


/*                        footer                             */
#footer{
  margin: 200px 0px;
}


/*                        WEvolution                          */
.WEvolution-header{
  margin-top: 100px!important;
}

.space{
  margin-bottom: 200px;
}

.WEWE{
  position: inherit!important;
  width: 100%;
  height: auto;
}

.imgWE{
  align-content: center;
  width: 100%;
  height: auto;
}

.min{
  margin-top: -150px;
}

/*                        media                               */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .title{
    font-size: 35px;
    margin: -20px 0px;
  }
  .typing{
    padding-top: 60%;
  }
  .kopje-z{
    margin-top: 30px;
  }
  #about{
    margin-top: 600px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .title{
    font-size: 65px;
  }
  .typing{
    padding-top: 35%;
  }
  .kopje-z{
    margin-top: 30px;
  }
  #about{
    margin-top: 700px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  #about{
    margin-top: 770px;
  }
  .typing{
    padding-top: 30%;
  }
  .title{
    font-size: 65px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #about{
    margin-top: 600px;
  }
  .typing{
    padding-top: 25%;
  }
  .title{
    font-size: 65px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }